* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    min-width: 1200px;
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-h {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: absolute;
    padding-left: 13px;
}

.logo-the {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 37px 0 37px 6px;
}

.logo-ham {
    color: rgba(24, 207, 171, 1);
    font-weight: 700;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul img {
    cursor: pointer;
}

.header-wrapper a {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21.09px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.header-wrapper a:hover {
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 50px;
    color: #18CFAB;
}

.creative {
    /* height: 100vh; */
    background-image: url(./img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    
}

.creative-subtitle {
    padding: 384px 0 22px 0;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.subtitle-span {
    color: #18CFAB;
}

.creative-title {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.creative-text {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 122px;
}

.creative-buttons{
    padding-bottom: 243px;
}

.btn {
    background-color: #18CFAB;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    min-width: 170px;
    border-radius: 5px;
    padding: 16px 18px;
    display: inline-block;
    box-shadow: 0 -5px 0 0 white;
}

.btn:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: none;
}

.btn-blue {
    background: #00CBF6;
    margin-left: 26px;
}

.option-menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 8px;
}

.option-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1C2A33;
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
}

.odd-text-card {
    padding-top: 48px;
}

.option-card:nth-child(odd) {
    padding: 87px 0 103px 0;
}

.even-text-card {
    padding-top: 59px;
}

.option-card:nth-child(even) {
    padding: 98px 0 103px 0;
    background-color: #18CFAB;
    color: #FFFFFF;
}

.title-services {
    padding-top: 92px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.title-services::before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 534px;
    margin-top: 58px;
}

.title-services::after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 546px;
    margin-top: 21px;
}

.content-services {
    display: flex;
    flex-direction: column;
    margin-top: 99px;
    padding-bottom: 92px;
}

.tabs-services {
    display: flex;
}

.tabs-title-services {
    padding: 19px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    text-align: center;
    cursor: pointer;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;
    width: 193px;
}

.tabs-services-content {
    margin-top: 27px;
}

.services-item {
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #777777;
}

.services-item-wrapper {
    display: flex;
}

.services-img {
    width: 194px;
    height: 139px;
    padding-right: 13px;
}

.active,
.tabs-title-services.active::after {
    display: block;
}

.tabs-title-services.active{
    background: #18CFAB;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
}

.tabs-title-services::after {
    content: url(./img/Rectangle\ 60.png);
    display: none;
    position: absolute;
    margin-top: 6px;
    margin-left: 83px;
}


.tabs-title-services:hover {
    border: 1px solid #18CFAB;
}

.everything-section {
    width: 100%;
    padding-top: 91px;
    background-image: url(./img/bg-section2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.everything-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
}

.everything-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-top: 12px;
}

.everything-button {
    padding: 62px 0 128px 0;
    text-align: center;
}

.amazing-work {
    background-color: #E9EDEF;
}

.amazing-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    padding-top: 95px;
}

.amazing-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 534px;
    margin-top: 58px;
}

.amazing-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 546px;
    margin-top: 21px;
}

.amazing-work li {
    padding: 14px 13px;
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}


.amazing-work ul {
    display: flex;
    align-items: center;
    width: 584px;
    margin: 0 auto;
    margin-bottom: 69px;
    margin-top: 93px;
    cursor: pointer;
}

.amazing-work li:first-child {
    padding: 14px 29px;
}

.amazing-cards-wrapper {
    display: grid;
    grid-template: repeat(1, 1fr)/ repeat(4, 1fr);
}

.amazing-cards-wrapper img {
    height: 100%;
    width: 100%;
}


.amazing-hidden-blocks {
    position: absolute;
    background: #E9EDEF;
    z-index: 1;
    opacity: 0;
    top: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
}

.amazing-hidden-blocks:hover {
    opacity: 1;
    transition: .4s;
}

.amazing-cards-wrapper a {
    position: relative;
    display: none;
}

.amazing-cards-wrapper a.active {
    display: block;
}

.amazing-hidden-subtitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: none;
    padding-bottom: 51px;
}

.amazing-hidden-blocks div {
    padding: 45px 101px 20px;
}

.amazing-hidden-blocks div::before {
    content: '';
    display: block;
    position: absolute;
    width: 290px;
    height: 2px;
    background: #18CFAB;
    top: 0;
    right: 0;
}

.amazing-work li.active {
    border: 1px solid #18CFAB;
}

.amazing-btn {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.btn-load {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 168px;
    background: #18CFAB;
    padding: 22px 23px;
    border-radius: 5px;
}

.btn-load-title {
    padding-left: 15px;
}

.amazing-cards-load {
    grid-template: repeat(3, 1fr)/ repeat(4, 1fr);
    display: none;
}

.amazing-cards-load-visible {
    display: grid;
    padding-bottom: 80px;
}

.amazing-cards-load img {
    width: 100%;
    height: 100%;
}

.amazing-download {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.amazing-download-visible {
    opacity: 1;
    transition: 1s;
}

.amazing-download-circle {
    margin: 1em auto;
    width: 40px;
    height: 40px;
    border-radius: 40px; 
    border: solid 5px rgb(182, 175, 175);
    border-left: solid 5px #18CFAB;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 43px;
}

@keyframes spin {
    0% {
    transform: rotate(0);
    }
    100% {
    transform: rotate(360deg);
    }
}

.breaking-news {
    width: 100%;
}

.breaking-title {
    margin-top: 84px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.breaking-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 534px;
    margin-top: 58px;
}

.breaking-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 546px;
    margin-top: 21px;
}

.breaking-cards-wrapper {
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
    gap: 44px 33px;
    margin-top: 70px;
}

.amazing-card {
    position: relative;
}

.date-card {
    width: 70px;
    height: 68px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.cards-main-info {
    display: flex;
    flex-direction: column;
}

.cards-main-title {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    padding-top: 11px;
    padding-left: 15px;
}

.cards-comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #5e4444;
    padding-left: 15px;
}

.cards-comment span {
    padding: 0 14px;
}

.amazing-card:hover .date-card {
    background: #18CFAB;
}

.amazing-card:hover .cards-main-title {
    color: #18CFAB;
}

.breaking-cards-wrapper img {
    width: 100%;
}

.people-say {
    margin-top: 130px;
    width: 100%;
    background-image: url(./img/bg-wps.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.people-say-title {
    padding-top: 100px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 68px;
}

.people-say-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 534px;
    margin-top: 58px;
}

.people-say-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    margin-left: 546px;
    margin-top: 21px;
}

.svg-people {
    display: block;
    margin: 0 auto;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
    padding-top: 10px;
}

.people-slider {
    width: 360px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 96px;
    padding-top: 49px;
}

.people-slider img {
    width: 60px;
    height: 60px;
}

.slick-prev {
    position: absolute;
    left: -55px;
    background-image: url(./img/arrow-prev.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    
}

.slick-prev:hover {
    background-image: url(./img/arrow-hover-prev.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.slick-next {
    position: absolute;
    right: -55px;
    background-image: url(./img/arrow-next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.slick-next:hover {
    background-image: url(./img/arrow-hover-next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.slick-arrow {
    font-size: 0;
    width: 31px;
    height: 31px;
    top: 74px;
    border: 1px solid;
    border-color: #BBBBBB;
    cursor: pointer;
}

.slick-arrow:hover {
    background-color: #18CFAB;
    border: none;
}

.slick-slide {
    width: 101px;
}

.people-slider .slick-current {
    transform: translateY(-10px);
}

.people-slider-main {
    text-align: center;
}

.people-slider-main img {
    width: 140px;
    height: 140px;
}

.people-text {
    padding-top: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.people-name {
    padding-top: 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.people-profile {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    padding-bottom: 38px;
}
